PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=una_home
JWT_SECRET=una_home_change_me
DEFAULT_ADMIN_EMAIL=admin@unahome.mn
DEFAULT_ADMIN_PASSWORD=1234
DEFAULT_ADMIN_FULLNAME=UNA Admin
